setuptools<60,
imageio==2.9.0,
imageio-ffmpeg==0.4.2,
numpy>=1.22,
numba>=0.53,
pyDOE==0.3.8,
scipy<1.9.0,
sympy>=1.7.1,
torch<1.13.0,
xarray==0.16.0,
scikit-learn,
matplotlib>=3.0.3,
psutil==5.8.0,
h5py==3.4.0,
dask==2022.2.1,
netCDF4>=1.5.3,
six,
mpi4py,
numexpr>=2.8.3,
nose,
minio,
pytest,
optuna,
nose,
jupyterlab==3.4.5,
urllib3<1.27
